[submodule "externals/AverageBuddy"]
	path = externals/AverageBuddy
	url = git@github.com:dmanning23/AverageBuddy.git
[submodule "externals/FontBuddy"]
	path = externals/FontBuddy
	url = git@github.com:dmanning23/FontBuddy.git
[submodule "externals/GameTimer"]
	path = externals/GameTimer
	url = git@github.com:dmanning23/GameTimer.git
[submodule "externals/MonoGame"]
	path = externals/MonoGame
	url = git@github.com:dmanning23/MonoGame.git
